body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.logo_2 {
  width: 90px;
  height: 90px;
}

.line-temp {
  position: fixed;
  background: #2d94bd;
  height: 1px;
  width: 100%;
  top: 80px;
  left: 0;
  right: 0;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.gradient-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgb(221, 196, 115),
    rgb(46, 187, 168) 20%,
    rgb(11, 96, 117)
  );
  padding: 40px 0px;
  width: 100%;
}

.section-section2 {
  width: 100%;
  max-width: 1400px;
}

#section-section1,
#section-section3,
#section-section4,
#section-section5,
#section-section7,
.footer {
  width: 100%;
}

#section-section5 {
  background: #159b20;
}

main#root {
  overflow-y: hidden;
  padding: 1rem;
  min-height: 60vh;
  opacity: 1;
  transition: opacity 0.5s ease;
}


/****************** top bar ******************/

.rounded {
  border-radius: 20px;

  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.sidebar-icon {
  margin-right: 30px;
  font-size: 40px;
  color: #2d94bd;
}

.logo {
  margin-right: 50px;
  height: 50px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 15px 0;
  background: #ffffff;
  padding: 15px 0;
  width: 100vw;
  z-index: 1000;
}

.topbar-left {
  flex: 3;
  background: #ffffff;
  display: flex;
  align-items: center;
}

.topside-btn {
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background: none;
}

.topbar-center {
  /* position: relative; */
  flex: 2;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
}
.btn1 {
  /* background: #3a73b4 !important; */
  color: rgb(255, 255, 255);
  transition: background 0.3s;
  font-weight: bold;
  padding: 10px 25px !important;
  background: #0953a7;
}

.btn1:hover {
  background: #0953a7 !important;
  color: white;
}

.btn2 {
  background: #058625 !important;
  color: white;
  transition: background 0.3s;
  font-weight: bold;
  width: fit-content;
  /* margin: 0 10px; */
  /* padding: 10px; */
}
#contact {
  margin: 0 10px;
  padding: 10px 25px;
}

.btn2:hover {
  background: #045a19 !important;
  color: white;
}

.topbar-right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  align-items: center;
}

#user-name {
  /* margin-top: 35px; */
  background: #e3f6f8;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

#line-col-small {
  border-right: 1px solid rgb(228, 228, 228);
  height: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.line-temp {
  position: fixed;
  background: #2d94bd;
  height: 1px;
  width: 100%;
  top: 100px;
  left: 0;
  right: 0;
}
/****************** second top bar ******************/
.second-topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
}

.second-topbar button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 15px;
  color: #2d94bd;
}

.second-topbar .left,
.second-topbar .center {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}


/******************** footer ******************/

.app {
  background: #000;
  padding: 20px 0;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* background: var(--second-color); */
  color: white;
}

.app-btn {
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  /* background: var(--third-color); */
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.app-btn:hover {
  /* background-color: var(--first-color); */
}

.title-section {
  padding: 20px 0;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* background: var(--second-color); */
}

.bottom-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 20px 10px;
  /* background-color: var(--second-color);
  color: var(--fifth-color); */
  height: 150px;
  color: #ffffff;
}

/* Footer Container */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: var(--second-color); */
  color: white;
}

.footer-bottom-left {
  font-size: 16px;
}

.footer-bottom-right {
  display: flex;
  gap: 20px;
  padding: 0 50px;
}

.footer-bottom-right i {
  font-size: 34px;
  cursor: pointer;

  transition: color 0.3s;
}

.footer-bottom-right i:hover {
  /* color: var(--second-color); */
}

.footer-bottom-right .facebook:hover {
  color: #3b5998;
}

.footer-bottom-right .instagram:hover {
  color: #e1306c;
}

.footer-bottom-right .twitter:hover {
  color: #00aced;
}

.footer {
  background: #333333;
}